<div class="wrapper">
    <form class="competitor-create" action="/delete/{{competitor._id}}" method="post">
        <div class="create-header">
            Remove Competitor
        </div>
        <div class="create-competitoritem">
            <div class="create-competitoritem-label">Name</div>
            <input type="text" class="create-competitoritem-content" name="name" value="{{competitor.name}}"
                   required disabled/>
        </div>
        <div class="create-competitoritem">
            <div class="create-competitoritem-label">Age</div>
            <input type="number" min="1" class="create-competitoritem-content" name="age" value="{{competitor.age}}"
                   required disabled/>
        </div>

        <div class="create-competitoritem">
            <div class="create-competitoritem-label">Team</div>
            <input class="create-competitoritem-content" name="team"
                   value="{{competitor.team}}" required disabled/>
        </div>

        <div class="create-competitoritem">
            <div class="create-competitoritem-label">Category</div>
            <input class="create-competitoritem-content" name="category" value="{{competitor.category}}" disabled>
        </div>

        <div class="create-button-holder">
            <button type="submit" class="button">Remove</button>
            <a type="button" href="/" class="button">Back</a>
        </div>
    </form>
</div>